@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-10 {
    @apply text-[10px] leading-[16px];
  }

  .text-11 {
    @apply text-[11px] leading-[13.2px];
  }

  .text-12 {
    @apply text-[12px] leading-[14.4px];
  }

  .text-13 {
    @apply text-[13px] leading-[15.6px];
  }

  .text-14 {
    @apply text-[14px] leading-[22px];
  }

  .text-15 {
    @apply text-[15px] leading-[18.15px];
  }

  .text-16 {
    @apply text-[16px] leading-[19.36px];
  }

  .text-17 {
    @apply text-[17px] leading-[21px];
  }

  .text-18 {
    @apply text-[18px] leading-[21.78px];
  }

  .text-20 {
    @apply text-[20px] leading-[24px];
  }

  .text-22 {
    @apply text-[22px] leading-[26.4px];
  }

  .text-24 {
    @apply text-[24px] leading-[32px];
  }

  .text-28 {
    @apply text-[28px] leading-[34px];
  }
}

:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Internet Explorer, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
